.parent2{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px ;
    grid-template-rows: 300px 300px;
    gap: 10px;
    justify-content: center;
    margin-left: 300px;
    
}
.body7{
    background-image: url(../Assests/backimg3.jpg);
    background-size: cover;
    color:rgb(255, 0, 0);
}
.item11{
    background-color:snow;
    grid-column: 1/2;
    grid-row: 1/2;
    border-style: dashed;
    border-width:3px;
    border-color:silver;
    border-radius: 15px;
}
.item22{
    background-color:snow;
    grid-column: 2/3;
    grid-row: 1/2;
    border-style: dashed;
    border-width:3px;
    border-color: gold;
    border-radius: 15px; 
}
.item33{
    background-color: snow;
    grid-column: 3/4;
    grid-row: 1/2; 
    border-style: dashed;
    border-width:3px;
    border-color: deeppink;
    border-radius: 15px;
}
.silver{
    background-color: silver;
    font-size: 25px;
    padding-top: 10px;
    padding-left:60px; 
    
}
.gold{
    background-color: gold;
    font-size: 25px;
    padding-top: 10px;
    padding-left:80px;  
   
}
.vip{
    background-color:deeppink;
    font-size: 25px;
    padding-top: 10px;
    padding-left:90px; 
    
}
.silvertic{
    border-radius: 10px;
    padding-left: 10px;
    margin-left: 50px;
    background-color:bisque;
}
.goldtic{
    border-radius: 10px;
    padding-left: 10px;
    margin-left: 50px;
    background-color:bisque;
}
.viptic{
    border-radius: 10px;
    padding-left: 10px;
    margin-left: 50px;
    background-color:bisque;
}
.pricetic{
    text-align: center;
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.pricetic1{
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
}
.pricetic2{
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
}
.pricetic3{
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
}
.body6{
    background-color: rgb(178, 218, 234);
    height: 450px;
}
.talk{
    margin-top: 20px;
    margin-bottom: 0px;
    height: 50px;
    padding-bottom: 0px;
    background-image: url(../Assests/backimg4.webp);
    font-size: 40px;
    color:rgb(243, 42, 122);
}
.parent3{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 50px 50px 150px 50px 50px 50px 50px 50px;
    gap:10px;
    margin-left: 600px;
}   
.item01{
    grid-column: 1/2;  
    grid-row: 1/2;
    border-style:solid;
    border-width:3px;
    border-color:silver;
    border-radius: 15px;
    padding-top: 5px;
    padding-left:35px; 
    background-color: snow;
    font-size: 20px;

}
.item02{
    grid-column: 1/2;
    grid-row: 2/3;
    border-style:solid;
    border-width:3px;
    border-color:silver;
    border-radius: 15px;
    padding-top: 5px;
    padding-left:35px;
    background-color: snow;
    font-size: 20px; 
}
.item03{
    grid-column: 1/2;
    grid-row: 3/4;
    border-style:solid;
    border-width:3px;
    border-color:silver;
    border-radius: 15px;
    padding-top: 5px;
    padding-left:35px; 
    background-color: snow;
    font-size: 15px;
}
.item04{
    grid-row:  4/5;
    grid-column: 1/2;
    border-style:solid;
    border-width:3px;
    border-color:silver;
    border-radius: 15px;
    padding-top: 5px;
    padding-left:35px; 
    background-color: snow;
    font-size: 20px;
}
.item05{
    grid-column: 1/2;
    grid-row: 5/6;
    border-style:solid;
    border-width:3px;
    border-color:silver;
    border-radius: 15px;
    padding-top: 5px;
    padding-left:35px;
    background-color: snow;
    font-size: 20px; 
}
.item06{
    grid-column: 1/2;
    grid-row: 6/7;
    border-style:solid;
    border-width:3px;
    border-color:silver;
    border-radius: 15px;
    padding-top: 5px;
    padding-left:35px;
    background-color: snow;
    font-size: 20px; 
}
.item07{
    grid-column: 1/2;
    grid-row: 7/8; 
    border-style:solid;
    border-width:3px;
    border-color:silver;
    border-radius: 15px;
    padding-top: 5px;
    padding-left:150px; 
    background-color: snow;
    font-size: 25px;
}
.book{
    width: 200px;
    height: 50px;
    border: none;
    background-color:rgb(24, 61, 209);
    color:white;
    border-radius: 10px;
    margin-left: 700px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.pass{
    font-size: 20px;
}